---
# ------------------------------------------------------------------------------
- name: check for docker
  command: which docker
  register: docker_command
  failed_when: docker_command.rc != 0
  changed_when: false

# ------------------------------------------------------------------------------
- name: check for binary
  stat:
    path: /usr/local/bin/scope
  register: scope_binary

- name: download binary
  command: curl -L git.io/scope -o /usr/local/bin/scope creates=/usr/local/bin/scope
  when: scope_binary.stat.exists == false

- name: allow execution of binary
  file:
    path: /usr/local/bin/scope
    mode: "a+x"
  when: scope_binary.stat.exists == false

# ------------------------------------------------------------------------------
- name: status
  command: scope status
  register: scope_status
  failed_when: false
  changed_when: false

# ------------------------------------------------------------------------------
- name: launch
  command: "scope launch"
  when: scope_status.rc != 0
...
