[Service]
Environment=http_proxy={{ os_proxy_http_proxy }}
Environment=HTTP_PROXY={{ os_proxy_http_proxy }}
Environment=https_proxy={{ os_proxy_https_proxy }}
Environment=HTTPS_PROXY={{ os_proxy_https_proxy }}
Environment=no_proxy={{ os_proxy_no_proxy }}
Environment=NO_PROXY={{ os_proxy_no_proxy }}
