---
nomad_version: "0.9.3"

nomad_interface: "{{ ansible_default_ipv4.interface }}"
nomad_host_ipv4_address: "{{ hostvars[inventory_hostname]['ansible_' + nomad_interface].ipv4.address }}"

nomad_bin_directory: "/usr/bin"
nomad_config_directory: "/etc/nomad"
nomad_data_directory: "/var/lib/nomad"

nomad_systemd_unit_name: "nomad"

nomad_group: "nomad"

nomad_region: "global"
nomad_datacenter: "nomad"
