---
# ------------------------------------------------------------------------------
- name: install
  yum:
    name: "{{ item }}"
    state: latest
  with_items:
    - cockpit
    - cockpit-kubernetes

- name: enable and start
  service:
    name: cockpit.socket
    state: running
    enabled: yes

# ------------------------------------------------------------------------------
- name: check firewalld status
  command: systemctl status firewalld
  register: service_firewalld_status
  failed_when: false
  changed_when: false

- name: add firewall rules
  firewalld:
    service: cockpit
    zone: public
    state: enabled
    permanent: true
  when: service_firewalld_status.rc == 0
...
