---
- name: "check deployed"
  stat:
    path: "/usr/bin/helm"
  register: helm_check_deployed
  when: (inventory_hostname == groups['master'][0])

- include_tasks: deploy.yml
  when: (inventory_hostname == groups['master'][0])
        and not(helm_check_deployed.stat.exists)

- name: "check init"
  shell: "/usr/bin/helm list --kubeconfig=/etc/kubernetes/admin.conf"
  failed_when: no
  changed_when: no
  register: helm_check_init
  when: inventory_hostname == groups['master'][0]

- include_tasks: init.yml
  when: (inventory_hostname == groups['master'][0])
        and (helm_check_init.rc != 0)
