---
# ------------------------------------------------------------------------------
- name: install
  yum:
    name: docker-1.10.3-59.el7.centos
    state: present

- group:
    name: docker
    state: present

- user:
    name: "{{ item }}"
    groups: docker
    append: yes
  with_items: "{{ docker_group_users }}"

- name: enable and start
  service:
    name: docker.service
    state: running
    enabled: yes
