---
# ------------------------------------------------------------------------------
- name: install
  yum:
    name: docker
    state: latest

- group:
    name: docker
    state: present

- user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes

- name: enable and start
  service:
    name: docker.service
    state: running
    enabled: yes
...
