---
- name: "check deployed"
  command: "/usr/bin/helm list --kubeconfig=/etc/kubernetes/admin.conf --short metallb"
  changed_when: no
  register: metallb_check_deployed
  when: (inventory_hostname == groups['kubernetes-masters'][0])

- include_tasks: deploy.yml
  when: (inventory_hostname == groups['kubernetes-masters'][0])
        and (metallb_check_deployed.stdout.find('metallb') == -1)
