---
# ------------------------------------------------------------------------------
- name: install packages
  yum:
    name: kubernetes
    state: latest

# ------------------------------------------------------------------------------
- name: set KUBE_MASTER
  command: "sed -i 's/\\(KUBE_MASTER=\"--master=\\).*\\(\"\\)/\\1{{ item }}\\2/g' /etc/kubernetes/config"
  with_items: "http:\\/\\/{{ groups['master'][0] }}:8080"

# ------------------------------------------------------------------------------
- name: set KUBE_API_ADDRESS
  command: "sed -i 's/\\(KUBE_API_ADDRESS=\"--insecure-bind-address=\\).*\\(\"\\)/\\1{{ item }}\\2/g' /etc/kubernetes/apiserver"
  with_items: "0.0.0.0"
  when: inventory_hostname in groups['master']

- name: comment out KUBE_ADMISSION_CONTROL
  command: "sed -i 's/\\(KUBE_ADMISSION_CONTROL=\"\\)\\(.*\\)\\(\"\\)/#\\1\\2\\3/g' /etc/kubernetes/apiserver"
  when: inventory_hostname in groups['master']

# ------------------------------------------------------------------------------
- name: set KUBELET_ADDRESS
  command: "sed -i 's/\\(KUBELET_ADDRESS=\"--address=\\).*\\(\"\\)/\\1{{ item }}\\2/g' /etc/kubernetes/kubelet"
  with_items: "0.0.0.0"
  when: inventory_hostname in groups['nodes']

- name: set KUBELET_HOSTNAME
  command: "sed -i 's/\\(KUBELET_HOSTNAME=\"--hostname-override=\\).*\\(\"\\)/\\1{{ item }}\\2/g' /etc/kubernetes/kubelet"
  with_items: "{{ inventory_hostname }}"
  when: inventory_hostname in groups['nodes']

- name: set KUBELET_API_SERVER
  command: "sed -i 's/\\(KUBELET_API_SERVER=\"--api-servers=\\).*\\(\"\\)/\\1{{ item }}\\2/g' /etc/kubernetes/kubelet"
  with_items: "http:\\/\\/{{ groups['master'][0] }}:8080"
  when: inventory_hostname in groups['nodes']

# ------------------------------------------------------------------------------
- name: enable and start master services
  service:
    name: "{{ item }}"
    state: running
    enabled: yes
  with_items:
    - kube-apiserver.service
    - kube-controller-manager.service
    - kube-scheduler.service
  when: inventory_hostname in groups['master']

# ------------------------------------------------------------------------------
- name: enable and start node services
  service:
    name: "{{ item }}"
    state: running
    enabled: yes
  with_items:
    - docker.service
    - kube-proxy.service
    - kubelet.service
  when: inventory_hostname in groups['nodes']
...
