apiVersion: kubeadm.k8s.io/v1alpha3
kind: ClusterConfiguration
etcd:
  local:
    serverCertSANs:
    - {{ inventory_hostname }}
    - {{ hostvars[inventory_hostname].ipaddress }}
    peerCertSANs:
    - {{ inventory_hostname }}
    - {{ hostvars[inventory_hostname].ipaddress }}
