---
- name: use reset to clean environment
  command: "/usr/bin/kubeadm reset --force"

- name: init master
  command: >
    /usr/bin/kubeadm init
      {%if kubernetes_self_hosting %}--feature-gates=SelfHosting=true{% endif %}
      --apiserver-advertise-address={{ kubernetes_host_ipv4_address }}
  register: kubeadm_init_cmd

- name: make kubectl configuration readable for users
  file:
    path: /etc/kubernetes/admin.conf
    mode: 0644

- name: set configuration for kubectl
  copy:
    src: kubernetes.sh
    dest: /etc/profile.d/kubernetes.sh

- name: taint master
  command: >
    /usr/bin/kubectl --kubeconfig=/etc/kubernetes/admin.conf
      taint nodes
      --all node-role.kubernetes.io/master-

- include: reboot-recovery.yml
  when: (kubernetes_self_hosting)
