---
- name: set kernel configuration
  copy:
    src: k8s.conf
    dest: /etc/sysctl.d/k8s.conf
  register: kubernetes_set_kernel_configuration

- name: reload kernel configuration
  command: /usr/sbin/sysctl --system
  when: kubernetes_set_kernel_configuration.changed

- name: add repository
  yum_repository:
    file: kubernetes
    name: Kubernetes
    description: Kubernetes
    baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
    enabled: true
    gpgcheck: false
    state: present

- name: install packages
  package:
    name: "{{ item }}"
    state: present
  with_items:
    - bash-completion
    - kubeadm
    - kubectl
    - kubelet

- name: enable and start
  service:
    name: kubelet.service
    state: started
    enabled: yes

- name: get configuration file status
  stat:
    path: /etc/kubernetes/admin.conf
  register: kubeadm_config_file
  when: (inventory_hostname == groups['master'][0])

- name: get configuration file status
  set_fact:
    kubeadm_deployed: "{{ kubeadm_config_file.stat.exists }}"
  when: (inventory_hostname == groups['master'][0])

- include: setup-route.yml

- include: init-cluster.yml
  when: (hostvars[groups['master'][0]].kubeadm_deployed == false)
        and (inventory_hostname == groups['master'][0])

- include_role:
    name: kubernetes/get-nodes
  when: (inventory_hostname == groups['master'][0])

- include: create-token.yml
  when: (play_hosts | difference(hostvars[groups['master'][0]].kubernetes_nodes))
        and (inventory_hostname == groups['master'][0])

- include: join-cluster.yml
  when: (inventory_hostname in groups['nodes'])
        and not(inventory_hostname in hostvars[groups['master'][0]].kubernetes_nodes)

- include: delete-token.yml
  when: (play_hosts | difference(hostvars[groups['master'][0]].kubernetes_nodes))
        and (inventory_hostname == groups['master'][0])
