---
- name: add repository
  yum_repository:
    file: kubernetes
    name: kubernetes
    description: Kubernetes
    baseurl: http://yum.kubernetes.io/repos/kubernetes-el7-x86_64
    gpgkey: |
      https://packages.cloud.google.com/yum/doc/yum-key.gpg
       https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
    gpgcheck: yes
    repo_gpgcheck: yes
    state: present

- name: install
  yum:
    name:
      - kubelet
      - kubeadm
      - kubectl
      - kubernetes-cni
    state: latest
    update_cache: yes
    disable_gpg_check: yes

- name: enable and start kubelet
  service:
    name: kubelet.service
    state: running
    enabled: yes

- name: init master
  shell: "kubeadm init"
  register: kubeadm_init
  when: inventory_hostname in groups['master']

- name: get master token
  shell: "echo '{{ kubeadm_init.stdout }}' | tail -n1 | awk '{print $3}'"
  register: kubeadm_token
  when: inventory_hostname in groups['master']

- name: ensure node /etc/kubernetes is empty
  shell: "rm -rf /etc/kubernetes/*"
  when: inventory_hostname in groups['nodes']

- name: init node
  shell: "kubeadm join {{ hostvars[groups['master'][0]].kubeadm_token.stdout }} {{ groups['master'][0] }}"
  when: inventory_hostname in groups['nodes']

- name: install weave
  shell: "kubectl apply -f https://git.io/weave-kube"
  when: inventory_hostname in groups['master']

- name: install scope
  shell: "kubectl apply -f 'https://cloud.weave.works/launch/k8s/weavescope.yaml'"
  when: inventory_hostname in groups['master']

- name: expose scope
  shell: "kubectl expose pod $(kubectl get pod --selector=weave-scope-component=app -o jsonpath='{.items..metadata.name}') --external-ip="{{ inventory_hostname }}" --port=4040 --target-port=4040
  when: inventory_hostname in groups['master']
...
