---
# ------------------------------------------------------------------------------
- name: check network config in etcd
  command: "/usr/bin/etcdctl get \"/atomic.io/network/config\""
  register: etcd_network_config
  failed_when: false
  changed_when: false

- name: setup network config in etcd
  command: "/usr/bin/etcdctl mk /atomic.io/network/config '{ \"Network\":\"172.1.0.0/16\" }'"
  when: etcd_network_config.stderr.find('Key not found') != -1
...
