---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rti-perftest-sub
  labels:
    app: rti-perftest
    mode: sub
spec:
  replicas: {{ groups['nodes'] | length }}
  selector:
    matchLabels:
      app: rti-perftest
      mode: sub
  template:
    metadata:
      labels:
        app: rti-perftest
        mode: sub
    spec:
      containers:
        - name: rti-perftest-sub
          image: guther/rti-perftest:2.0
          args:
            - "-verbosity"
            - "2"
            - "-domain"
            - "0"
            - "-sub"
          ports:
            - containerPort: 7400
              protocol: "UDP"
              name: "rtps2-disc-mult"
            - containerPort: 7401
              protocol: "UDP"
              name: "rtps2-disc-uni"
            - containerPort: 7410
              protocol: "UDP"
              name: "rtps2-data-mult"
            - containerPort: 7411
              protocol: "UDP"
              name: "rtps2-data-uni"
