apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: "rti-perftest-{{ rti_perftest_id }}"
  namespace: default
spec:
  podSelector:
    matchLabels:
      app: rti-perftest
      id: "{{ rti_perftest_id }}"
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: rti-perftest
          id: "{{ rti_perftest_id }}"
  egress:
  - to:
    - podSelector:
        matchLabels:
          app: rti-perftest
          id: "{{ rti_perftest_id }}"
