---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "rti-perftest-{{ rti_perftest_id }}-sub-{{ rti_perftest_id_subscriber }}"
  labels:
    app: rti-perftest
    role: sub
    id: "{{ rti_perftest_id }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rti-perftest
      role: sub
      id: "{{ rti_perftest_id }}"
  template:
    metadata:
      labels:
        app: rti-perftest
        role: sub
        id: "{{ rti_perftest_id }}"
    spec:
      containers:
        - name: "rti-perftest-{{ rti_perftest_id }}-sub"
          image: "{{ rti_perftest_image }}"
          args:
            - "-domain"
            - "0"
            - "-sub"
            - "-verbosity"
            - "2"
            - "-sidMultiSubTest"
            - "{{ rti_perftest_id_subscriber }}"
          env:
            - name: POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
          ports:
            - containerPort: 7400
              protocol: "UDP"
              name: "rtps2-disc-mult"
            - containerPort: 7401
              protocol: "UDP"
              name: "rtps2-disc-uni"
            - containerPort: 7410
              protocol: "UDP"
              name: "rtps2-data-mult"
            - containerPort: 7411
              protocol: "UDP"
              name: "rtps2-data-uni"
