---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: rti-perftest-pub
spec:
  replicas: {{ groups['master'] | length }}
  template:
    metadata:
      labels:
        app: rti-perftest-pub
    spec:
      containers:
        - name: rti-perftest-pub
          image: guther/rti-perftest:1.0
          args:
            - "-domain"
            - "0"
            - "-pub"
            - "-enableTurboMode"
            - "-dataLen"
            - "1024"
            - "-sleep"
            - "1"
            - "-numSubscribers"
            - "{{ groups['nodes'] | length }}"
          ports:
            - containerPort: 7400
              protocol: "UDP"
              name: "rtps2-disc-mult"
            - containerPort: 7401
              protocol: "UDP"
              name: "rtps2-disc-uni"
            - containerPort: 7410
              protocol: "UDP"
              name: "rtps2-data-mult"
            - containerPort: 7411
              protocol: "UDP"
              name: "rtps2-data-uni"
...
