---
- name: "install : etcd"
  yum:
    name: etcd
    state: present

- include_tasks: pki-config-create.yml

- include_tasks: pki-create-root.yml
  when: inventory_hostname == groups['masters'][0]

- include_tasks: pki-distribute.yml
  when: inventory_hostname != groups['masters'][0]

- include_tasks: pki-create-client.yml

- name: set configuration for etcdctl
  copy:
    src: etcdctl.sh
    dest: /etc/profile.d/etcdctl.sh
