---
- name: "pki : create etcd-ca"
  command: >
    /usr/bin/kubeadm alpha phase certs etcd-ca
  args:
    creates: /etc/kubernetes/pki/etcd/ca.*
  when: inventory_hostname == groups['masters'][0]

- name: "correct permissions"
  file:
    dest: "/etc/kubernetes/pki/{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - etcd/ca.crt
    - etcd/ca.key
