apiVersion: kubeadm.k8s.io/v1alpha2
kind: MasterConfiguration
kubernetesVersion: {{ kubernetes_kubeadm_version }}
apiServerCertSANs:
- {{ kubernetes_load_balancer }}
- {{ kubernetes_load_balancer_ip }}
api:
  # advertiseAddress: {{ kubernetes_host_ipv4_address }}
  controlPlaneEndpoint: "{{ kubernetes_load_balancer_ip }}"
apiServerExtraArgs:
  endpoint-reconciler-type: lease
etcd:
  external:
    endpoints:
{% for host in groups['master'] %}
    - https://{{ hostvars[host]['ansible_' + kubernetes_interface].ipv4.address }}:2379
{% endfor %}
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
