---
apiVersion: v1
kind: Pod
metadata:
  name: rti-perftest-pub-{{ item | to_uuid }}
spec:
  containers:
    - name: rti-perftest-pub-{{ item | to_uuid }}
      image: guther/rti-perftest
      args:
        - "-pub"
        - "-enableTurboMode"
        - "-dataLen"
        - "1024"
        - "-sleep"
        - "1"
        - "-numSubscribers"
        - "{{ groups['nodes'] | length }}"
      ports:
        - containerPort: 7400
          protocol: "udp"
          name: "rtps2-disc-mult"
        - containerPort: 7401
          protocol: "udp"
          name: "rtps2-disc-uni"
        - containerPort: 7410
          protocol: "udp"
          name: "rtps2-data-mult"
        - containerPort: 7411
          protocol: "udp"
          name: "rtps2-data-uni"
...
